.titlu{
    width: device-width;
    height: 80;
    background-color: #38bea9;
    font-family: "Pacifico";
    color:white;
    font-size: 40;
    margin-top: 0;
    margin-left: -8;
    margin-right: -8;
}
.titlu a
{
	color: white;
	text-decoration: none;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #38bea9;
    border: 2px solid #38bea9;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    width: 119px;
    height: 119px;
	float: left;
    font-family: "Pacifico";
    font-size: 25;
	margin: 20px;
}

a.buttond {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    background-color: #e07c40;
    border: 2px solid #e07c40;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    width: 119px;
    height: 119px;
	float: left;
    font-family: "Pacifico";
    font-size: 25;
	margin: 20px;
}

.materie{
	font-size:16;	
}

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 3px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    margin: 6px 7px;
    margin-left: 16px;
    transition: 0.4s;
}
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
  
.change .bar2 {opacity: 0}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
  
.meniu {
    height: 100%;
    margin-top: 69;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #38bea9;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: "Pacifico";
}
  form{
    margin-top: 2%;
    font-family: "Pacifico";
    font-size: 25;
}
form input{
    width: 300;
    margin: 2px solid black;
    border-radius: 8px;
}
form [type="submit"]{
    width: 100;
    background-color: white;
    font-family: "Pacifico";
    font-size: 20;
}
.meniu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
  
.meniu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
   
@media screen and (max-height: 450px) {
    .meniu {padding-top: 15px;}
    .meniu a {font-size: 18px;}
}

@media screen and (min-width:900px) and (max-width: 1300px){
    .text{
        font-size: 40;
    }
}

@media screen and (min-width:700px) and (max-width: 899px) {
    .text{
        width: 100%;
        font-size:35;
    }
    .gionut{
        margin-top: -30%;
    }
}

@media screen and (max-width:699px) {
    .text{
        font-size:30;
    }
    .nori{
        margin-top: 25%;
    }
}


.nori {
    position: relative;
    text-align: center;
    color:#38bea9;
    font-family: "Pacifico";
    font-size: 45;

}

#nor1{
    width: 50%;
    max-width: 500px;
    min-width: 300;
    height: auto;
}

.text {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 650px;
    height: auto;
    animation: fadeIn ease 4s;
    -webkit-animation: fadeIn ease 4s;
    -moz-animation: fadeIn ease 4s;
    -o-animation: fadeIn ease 4s;
    -ms-animation: fadeIn ease 4s
}
.text div{
    margin-bottom: -10;
}
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

body{
    margin: 0; 
    background-color: white;
	width:100%;
}